<p style="color: green"><%= notice %></p>

  <div>

  
  <button class="rounded-none">
    <%= link_to "New animal", new_animal_path %>
  </button>
  <hr>

  <h1 class="text-3xl font-bold underline">Animals</h1>

  <br>

  <table>
    <thead>
      <tr>
        <th>Name </th>
        <th>Description </th>
        <th colspan="3">Action </th>
      </tr>
    </thead>
    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.name %> </td>
          <td><%= animal.description %> </td>
          <td><%= link_to "Show", animal %>  </td>
          <td><%= link_to "Edit", animal %>  </td>
          <td><%= link_to "Delete", animal %>  </td>
        <tr>
      <% end %>
    </tbody>
  </table>




<div>