<p style="color: green"><%= notice %></p>

<%= render @animal %>

<div>
  <%= link_to "Edit this animal", edit_animal_path(@animal) %> |
  <%= link_to "Back to animals", animals_path %>

  <%= button_to "Destroy this animal", @animal, method: :delete %>
</div>

<br><br>
<div>
  <%= form_with(model: [@animal, @animal.comments.build]) do |form| %>
    <div>
      <%= form.label "Comments" %> <br>
      <%= form.text_area :body %> <br>
    </div><br>

    <%= form.submit "Add Comment" %>
  <% end %>
</div>

<div>
  <%= render @animal.comments %>
</div>
